.sidebar-left {
  display: flex;
  justify-content: center;
  align-items: center;

  #guesses ul li {
    font-size: 28px;
    font-weight: $regular;
    letter-spacing: 2.5px;
    line-height: 1.8;

    .guessed, .winner {
      padding: 0 3px;
    }

    .guessed {
      background-color: #ECEDF0;
      color: #FF8C8C;
    }

    .winner {
      background-color: $winning-color;
      color: white;
    }

  }
  
}